body {
  background-color: #ced0ce;
  min-height: 100vh;
  text-align: center;
  padding: 100px;
}

h1 {
  text-shadow: 4px -1px 6px rgba(79, 79, 79, 1);
  color: black;
}

.container {
  background-color: #fff;
  width: 80vw;
  padding: 40px;
  border-radius: 10px;
  border-left: 3px solid #f15025;
}

.quote-text {
  min-height: 20vh;
}

.container h1 {
  font-size: 50px;
  text-align: left;
}

.container p {
  text-transform: capitalize;
  color: #ced0ce;
  text-align: right;
  font-style: italic;
  font-size: 30px;
}

#btn {
  margin-top: 30px;
  font-size: 25px;
  padding: 10px 20px;
  background-color: #f15025;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
}
#hex {
  margin-top: 30px;
  font-size: 25px;
  padding: 10px 20px;
  background-color: #f15025;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
}

btn:hover {
  color: #191716;
  background-color: #f15025;
}
